In [2]:
print('Ahmed Ul islam Khan')

Ahmed Ul islam Khan

In [3]:
a=2
b=4
a+b

6

In [4]:
a=10
b=20
a-b

-10

In [5]:
a=5
b=6
a*b

30

In [6]:
a=10
b=5
a/b

2.0

In [8]:
name=input("Hi! What's your name? ")
print("Nice to meet you" + name + "!")
age= input("How old are you")
print("So, you are already" + str(age) + "year old," + name + "!")

Hi! What's your name? Ahmed
Nice to meet youAhmed!
How old are you23
So, you are already23year old,Ahmed!

# # lists

In [9]:
primes=[2, 3, 5, 7, 11]
print(primes)
empty_list = []

[2, 3, 5, 7, 11]

# Adding Lists Toghter

In [11]:
items = ['cake', 'cookie', 'bread']
total_items = items + ['biscuit', 'tart']
print(total_items)
# Results: ['cake', 'cookie', 'bread', 'biscuit', 'tart']

['cake', 'cookie', 'bread', 'biscuit', 'tart']

 # Python lists:Data Types

In [12]:
numbers = [1, 2, 3, 4, 10]
names = ['Jenny', 'Sam', 'Alexis']
mixed = ['Jenny', 1, 2]
list_of_lists = [['a' , 1], ['b', 2]]

 # List Method .append()

In [13]:
orders = ['daisies', 'periwinkle']
orders.append('tulips')
print(orders)
# Result: ['daisies', 'periwinkle', 'tulips']

['daisies', 'periwinkle', 'tulips']

# Zero-Indexing

In [14]:
names = ['Roger', 'Rafael', 'Andy', 'Novak']

# List Indices

In [15]:
berries = ["blueberry", "craberry", "raspberry"]
berries[0]  # "blueberry"
berries[2]  # "raspberry"

'raspberry'

# Negative list Indices

In [16]:
soups = ['minestrone', 'lentil', 'pho' 'laksa']
soups[-1]  # 'lasksa'
soups[-3]  # 'lentil', 'pho', 'lasksa'
soups[:-2] # 'minrstrone', 'Lentil'

['minestrone']

# Modifying 2D Lists

In [21]:
# A 2D list of nam,es and hobbies
class_name_hobbies = [["Jenny", "breaking"], ["alexus", "photography"], ["grace", "soccer"]]

# The sublist of Jenny is at index 0. The hobb is at index 1 of the sublist.
class_name_hobbies[0][1] = "Meditation"
print(class_name_hobbies)

[['Jenny', 'Meditation'], ['alexus', 'photography'], ['grace', 'soccer']]

# Method .sort()

In [1]:
exampleList =[3, 2, 4, 1]
exampleList.sort()
print(exampleList)

[1, 2, 3, 4]

In [2]:
exampleList =[5, 2, 3, 1, 8, 6, 4]
exampleList.sort()
print(exampleList)

[1, 2, 3, 4, 5, 6, 8]

In [3]:
A =[3, 1, 5, 2, 4]
A.sort()
print(A)

[1, 2, 3, 4, 5]

In [5]:
ab = [1,1,2,5,6,8,4,2,7,5,3,78,2,4,8,3,67,8,5]

In [9]:
ab[4:]

[6, 8, 4, 2, 7, 5, 3, 78, 2, 4, 8, 3, 67, 8, 5]

# slicing

In [15]:
a = [1,34,6,5,56,34]
a[:]

[1, 34, 6, 5, 56, 34]

# sorted

In [18]:
A = [1,7,4,9,6,3]
A = sorted(A)
print(A)

[1, 3, 4, 6, 7, 9]

# .pop()

In [40]:
A = ["asda","ali","ahmad","usman","umer","abubakar"]
B = A.pop(3)
print(A)
print(B)
A.pop(1)
print(A)
A.insert(1,"ali")
print(A)
C = len(A)
print(C)
C = len(B)
print(C)
W = ["ali","arslan","ali","ARSLAN"]
S = W.count("ali")
print(S)

['asda', 'ali', 'ahmad', 'umer', 'abubakar']
usman
['asda', 'ahmad', 'umer', 'abubakar']
['asda', 'ali', 'ahmad', 'umer', 'abubakar']
5
5
2

In [44]:
H = [["Ali", 35],["Subhan", 54],["usman", 25]]
H = H[1][1]
print(H)

54